<h5>Editar: </h5>
<div class="input-field col s12">
  <label for="id" class="active">#</label>
  <input disabled id="id" type="text" [(ngModel)]="aluno.id" class="validate">
</div>
<div class="input-field col s12">
  <label for="nome" class="active">Nome</label>
  <input id="nome" type="text" [(ngModel)]="aluno.nome" class="validate" (input)="onInput()">
</div>
<div class="input-field col s12">
  <label for="email" class="active">Email</label>
  <input id="email" type="text" [(ngModel)]="aluno.email" class="validate">
</div>
