<nav>
  <div class="nav-wrapper purple darken-3">
    <a *ngIf="mostrarMenu" routerLink="" class="brand-logo right ">Rotas Ng2</a>
    <a *ngIf="!mostrarMenu" class="brand-logo right ">Rotas Ng2</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li *ngIf="!mostrarMenu" routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li *ngIf="mostrarMenu" routerLinkActive="active">
        <a routerLink="/cursos" [queryParams]="{ pagina:'1' }">
          Cursos
        </a>
      </li>
      <!--li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Curso</a>
      </li-->
      <li *ngIf="mostrarMenu" routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <!--p>Entre com o id do curso</p>
  <input #idCurso-->
  <router-outlet></router-outlet>
</div>


